@import url(http://fonts.googleapis.com/css?family=Arvo:400&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin,latin-ext);

@font-face {
    font-family: 'socialico';
    src: url('includes/fonts/socialico-webfont.ttf') format('truetype');
}

a {
  color: #9f3c3c;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a img {
	border: 0;
}

article {
  background: #fff;
  display: block;
  margin: 8em auto;
  padding: 0;
  position: relative;
  text-align: left;
  width: 800px;
}

article header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5em;
  position: absolute;
  top: -1.45em;
  width: 100%;
}

article header h1,
article header time {
  display: inline;
  font-family: Arvo, serif;
  font-size: x-large;
  font-weight: 400;
}

article header time {
  color: #bbb;
  float: right;
}

body {
  background: #eee;
  font-family: "Noticia Text", Georgia, serif;
  padding: 0;
  text-align: center;
  text-rendering: optimizeLegibility;
}

code {
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Ubuntu Mono", monospace;
  padding: 0 .2em .5px;
}

footer {
	margin-top: -3em;
}

footer a.icon {
	font-family: "socialico";
	font-size: 42pt;
	position: relative;
	top: .5em;
	color: #bbb;
	transition: all 0.2s;
}

footer a {
	color: black;
}

footer a.icon:hover,
footer a.icon:focus {
	text-decoration: none;
}

footer a[href*="amazon"]:hover {
	color: rgb(253, 161, 49);
}

footer a[href*="facebook"]:hover {
	color: rgb(58, 89, 152);
}

footer a[href*="flickr.com"]:hover {
	color: rgb(251, 32, 139);
}

footer a[href*="github"]:hover {
	color: rgb(0, 0, 0);
}

footer a[href*="last.fm"]:hover {
	color: rgb(219, 18, 23);
}

footer a[href*="plus.google"]:hover {
	color: rgb(208, 69, 48);
}

footer a[href*="twitter"]:hover {
	color: rgb(30, 174, 234);
}

footer aside {
	display: block;
	margin-bottom: 5em;
}

footer img.photo {
	display: none;
}

img {
  margin: 0;
}

p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  font-size: 13pt;
  hyphens: auto;
  line-height: 150%;
	margin: 0;
  padding: 3em 5em 0em 5em;
}


p + p {
  padding: 1em 5em 0em 5em;
}

p:last-child {
  padding-bottom: 3em;
}